.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

lib/train/admin/local.py
lib/test/evaluation/local.py

checkpoints/
/data/
pretrained/
pretrained_networks/
logs/
tensorboard/
/test/
results/
*.log
